# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.class
out
.idea/workspace.xml
algs4-data/
.gitignore
Algorithms.iml